---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=negroni
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11003","strDrink":"Negroni","strDrinkAlternate":null,"strTags":"IBA,Classic","strVideo":"https:\/\/www.youtube.com\/watch?v=Y4LH0FQlU8Q","strCategory":"Ordinary
        Drink","strIBA":"Unforgettables","strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"Stir into glass over ice, garnish and serve.","strInstructionsES":null,"strInstructionsDE":"In
        ein Glas \u00fcber das Eis gie\u00dfen, garnieren und servieren.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        nel bicchiere con ghiaccio, guarnire e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qgdu971561574065.jpg","strIngredient1":"Gin","strIngredient2":"Campari","strIngredient3":"Sweet
        Vermouth","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        oz ","strMeasure2":"1 oz ","strMeasure3":"1 oz ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/www.thecocktaildb.com\/drink\/11003","strImageAttribution":"TheCocktailDB.com","strCreativeCommonsConfirmed":"Yes","dateModified":"2015-08-18
        15:12:07"},{"idDrink":"17248","strDrink":"French Negroni","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Martini
        Glass","strInstructions":"Add ice to a shaker and pour in all ingredients.\nUsing
        a bar spoon, stir 40 to 45 revolutions or until thoroughly chilled.\nStrain
        into a martini glass or over ice into a rocks glass. Garnish with orange twist.","strInstructionsE[...]
