---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13056","strDrink":"Wine Cooler","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Punch
        \/ Party Drink","strIBA":null,"strAlcoholic":"Optional alcohol","strGlass":"Collins
        Glass","strInstructions":"Mix wine and soft drink. Pour into glass. Add ice.","strInstructionsES":null,"strInstructionsDE":"Wein
        und Softdrink mischen. In das Glas gie\u00dfen. F\u00fcge Eis hinzu.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        vino e bibita. Aggiungi il ghiaccio. Versare nel bicchiere.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/yutxtv1473344210.jpg","strIngredient1":"Red
        wine","strIngredient2":"Lemon-lime soda","strIngredient3":"Ice","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz white or ","strMeasure2":"5 oz ","strMeasure3":"cubes","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-09-08
        15:16:50"}]}'
  recorded_at: Sun, 04 Dec 2022 20:35:44 GMT
[...]
