---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16275","strDrink":"Jack''s Vanilla Coke","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"After pouring in your ingredients, and adding 3-5
        ice cubes, according to taste. Stir the drink with a stirrer to get the Vanilla
        off the bottom.","strInstructionsES":null,"strInstructionsDE":"Nach dem Einf\u00fcllen
        der Zutaten und dem Hinzuf\u00fcgen von 3-5 Eisw\u00fcrfeln je nach Geschmack,
        r\u00fchren Sie das Getr\u00e4nk mit einem R\u00fchrer um, um die Vanille
        vom Boden zu l\u00f6sen.","strInstructionsFR":null,"strInstructionsIT":"Dopo
        aver versato gli ingredienti e aver aggiunto 3-5 cubetti di ghiaccio, a piacere.\r\nMescola
        la bevanda con un agitatore per eliminare la vaniglia dal fondo.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/kjnt7z1504793319.jpg","strIngredient1":"Ice","strIngredient2":"Tennessee
        whiskey","strIngredient3":"Vanilla extract","strIngredient4":"Coca-Cola","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"4-5
        ","strMeasure2":"2 oz ","strMeasure3":"1 tsp ","strMeasure4":"10-12 oz ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-07
        15:08:39"}]}'
  recorded_at: Sun, 04 Dec 2022 20:10:59 GMT
[...]
