---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"178345","strDrink":"Hot Toddy","strDrinkAlternate":null,"strTags":"Winter","strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Irish
        coffee cup","strInstructions":"STEP 1\r\nWhisk the whisky and honey together
        and split between 2 heatproof glasses. Add half of the cinnamon stick to each,
        then top up with 200ml boiling water.\r\n\r\nSTEP 2\r\nAdd a splash of lemon
        juice to each, then taste and add more to your preference. Finish each with
        a slice of lemon, studded with a clove, and serve immediately.","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsIT":"PASSO
        1\r\nSbatti il whisky e il miele insieme e dividi in 2 bicchieri. Aggiungere
        met\u00e0 della stecca di cannella a ciascuna, quindi rabboccare con 200 ml
        di acqua bollente.\r\n\r\nPASSO 2\r\nAggiungi una spruzzata di succo di limone
        a ciascuno, quindi assaggia e aggiungi altro a tua preferenza. Terminate ciascuna
        con una fetta di limone, guarnire con uno spicchio, e servite subito.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ggx0lv1613942306.jpg","strIngredient1":"Whiskey","strIngredient2":"Honey","strIngredient3":"Cinnamon","strIngredient4":"lemon","strIngredient5":"Cloves","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"50
        ml","strMeasure2":"15 ml","strMeasure3":"1","strMeasure4":"1","strMeasure5":"2","strMeasure6":"","strMeasure7":"","strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/www.flickr.com\/photos\/patruby\/7343589018","strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":null}]}'
  recorded_at: Wed, 07 Dec 2022 23:26:43 GMT
[...]
