---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13389","strDrink":"Snake Bite (UK)","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Beer","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Pint
        glass","strInstructions":"Pour ingredients into a pint glass. Drink. Fall
        over.","strInstructionsES":null,"strInstructionsDE":"Zutaten in ein Glas geben.
        Trink. Fall um.","strInstructionsFR":null,"strInstructionsIT":"Versare gli
        ingredienti in un bicchiere da pinta.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xuwpyu1441248734.jpg","strIngredient1":"Lager","strIngredient2":"Cider","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/2
        pint ","strMeasure2":"1\/2 pint sweet or dry ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-03
        03:52:14"}]}'
  recorded_at: Sun, 04 Dec 2022 20:57:54 GMT
[...]
