---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=black%20russian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11102","strDrink":"Black Russian","strDrinkAlternate":null,"strTags":"IBA,ContemporaryClassic","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":"Contemporary Classics","strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"Pour the ingredients into an old fashioned glass
        filled with ice cubes. Stir gently.","strInstructionsES":null,"strInstructionsDE":"Die
        Zutaten in ein old fashioned Glas mit Eisw\u00fcrfeln geben. Vorsichtig umr\u00fchren.","strInstructionsFR":null,"strInstructionsIT":"Versare
        gli ingredienti in un bicchiere vecchio stile pieno di cubetti di ghiaccio.
        Mescola delicatamente.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/8oxlqf1606772765.jpg","strIngredient1":"Coffee
        liqueur","strIngredient2":"Vodka","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"3\/4
        oz ","strMeasure2":"1 1\/2 oz ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/commons.wikimedia.org\/wiki\/File:Black_Russian.jpg","strImageAttribution":"Will
        Shenton","strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02 16:54:49"},{"idDrink":"11243","strDrink":"Chocolate
        Black Russian","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Champagne flute","strInstructions":"Combine
        all ingredients in an electric blender and blend at a low speed for a short
        length of time. Pour into a chilled champagne flute and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutate[...]
