---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14229","strDrink":"747","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Shot","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Shot
        glass","strInstructions":"pour kaluha, then Baileys, then Frangelico not chilled
        and not layered -- SERVE!!!","strInstructionsES":null,"strInstructionsDE":"Gie\u00dfen
        Sie kaluha, dann Baileys, dann Frangelico nicht gek\u00fchlt und nicht geschichtet
        -- SERVE!!!!!!!!","strInstructionsFR":null,"strInstructionsIT":"Versa Kahlua,
        Baileys e poi Frangelico.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xxsxqy1472668106.jpg","strIngredient1":"Kahlua","strIngredient2":"Baileys
        irish cream","strIngredient3":"Frangelico","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/3
        part ","strMeasure2":"1\/3 part ","strMeasure3":"1\/3 part ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-08-31
        19:28:26"},{"idDrink":"178322","strDrink":"Spice 75","strDrinkAlternate":null,"strTags":"Christmas","strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Wine
        Glass","strInstructions":"Gently warm 60g golden caster sugar in a pan with
        30ml water and 1 tbsp allspice. Cook gently until the sugar has dissolved,
        then leave the mixture to cool. Strain through a sieve lined with a coffee
        filter (or a double lay[...]
