---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=daiquiri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11006","strDrink":"Daiquiri","strDrinkAlternate":null,"strTags":"IBA,Classic,Beach","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"Pour
        all ingredients into shaker with ice cubes. Shake well. Strain in chilled
        cocktail glass.","strInstructionsES":null,"strInstructionsDE":"Alle Zutaten
        in den Shaker mit Eisw\u00fcrfel geben. Gut sch\u00fctteln. In einem gek\u00fchlten
        Cocktailglas abseihen.","strInstructionsFR":null,"strInstructionsIT":"Versare
        tutti gli ingredienti nello shaker con cubetti di ghiaccio.Filtrare in una
        coppetta da cocktail ghiacciata. Agitare bene","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/mrz9091589574515.jpg","strIngredient1":"Light
        rum","strIngredient2":"Lime","strIngredient3":"Powdered sugar","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"Juice of 1\/2 ","strMeasure3":"1 tsp ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/commons.wikimedia.org\/wiki\/File:Classic_Daiquiri_in_Cocktail_Glass.jpg","strImageAttribution":"Will
        Shenton","strCreativeCommonsConfirmed":"Yes","dateModified":"2015-08-18 15:06:37"},{"idDrink":"11064","strDrink":"Banana
        Daiquiri","strDrinkAlternate":null,"strTags":"Fruity","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Champagne flute","strInstructions":"Pour
        all ingredients into shaker with ice cubes. Shake well. Strain in chilled
        cocktail glass.","strInstructionsES":null,"strInstructionsDE":"Alle Zutaten
        in den Shaker mit Eisw\u00fcrfeln geben. Gut sch\u00fc[...]
