---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13328","strDrink":"Chocolate Milk","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Shot","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Shot
        Glass","strInstructions":"Put the milk in the bottom, pour the Liquer on top
        and add the dash of amaretto. Do not mix. SLAM IT!","strInstructionsES":null,"strInstructionsDE":"Die
        Milch auf den Boden geben, den Lik\u00f6r dar\u00fcber gie\u00dfen und den
        Spritzer Amaretto hinzuf\u00fcgen. Nicht mischen. SLAM IT!","strInstructionsFR":null,"strInstructionsIT":"Mettere
        sul fondo il latte, versarvi sopra il liquore e unire la spruzzata di amaretto.\r\nNon
        mescolare.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/j6q35t1504889399.jpg","strIngredient1":"Chocolate
        liqueur","strIngredient2":"Milk","strIngredient3":"Amaretto","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/2
        shot ","strMeasure2":"1\/2 shot ","strMeasure3":"1 dash ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-08
        17:49:59"}]}'
  recorded_at: Sun, 04 Dec 2022 20:11:00 GMT
[...]
