---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17209","strDrink":"Barracuda","strDrinkAlternate":null,"strTags":"IBA,NewEra","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":"New Era Drinks","strAlcoholic":"Alcoholic","strGlass":"Margarita
        glass","strInstructions":"Shake pour ingredients with ice. Strain into glass,
        top with Sparkling wine.","strInstructionsES":null,"strInstructionsDE":"Sch\u00fctteln
        Sie die Zutaten mit Eis. In ein Glas abseihen, mit Sekt \u00fcbergie\u00dfen.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        e versare gli ingredienti con ghiaccio.\r\nFiltrare in un bicchiere, completare
        con spumante.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/jwmr1x1504372337.jpg","strIngredient1":"Rum","strIngredient2":"Galliano","strIngredient3":"Pineapple
        Juice","strIngredient4":"Lime Juice","strIngredient5":"Prosecco","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"4.5
        cl","strMeasure2":"1.5 cl","strMeasure3":"6 cl","strMeasure4":" 1 dash","strMeasure5":"top
        up ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-02
        18:12:17"}]}'
  recorded_at: Sun, 04 Dec 2022 20:57:02 GMT
[...]
