---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13042","strDrink":"Sunny Holiday Punch","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Punch
        \/ Party Drink","strIBA":null,"strAlcoholic":"Optional alcohol","strGlass":"Punch
        bowl","strInstructions":"Combine all ingredients in a punch bowl.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten in einer Bowle vermengen.","strInstructionsFR":null,"strInstructionsIT":"Unisci
        tutti gli ingredienti in una ciotola da punch.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rywtwy1468924758.jpg","strIngredient1":"Pineapple
        juice","strIngredient2":"Club soda","strIngredient3":"Orange juice","strIngredient4":"Lemon","strIngredient5":"Berries","strIngredient6":"Champagne","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"46
        oz chilled ","strMeasure2":"28 oz ","strMeasure3":"6 oz frozen ","strMeasure4":"1
        ","strMeasure5":"2 cups ","strMeasure6":"1 bottle ","strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-07-19
        11:39:18"}]}'
  recorded_at: Sun, 04 Dec 2022 18:31:48 GMT
[...]
